@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* line 68, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 71, ../sass/style.scss */
body {
  min-width: 768px;
  width: 100%;
  font-family: 'Noto Sans TC','Josefin Sans', sans-serif;
}
/* line 75, ../sass/style.scss */
body h1 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 76, ../sass/style.scss */
body h2 {
  font-size: 20px;
}
/* line 77, ../sass/style.scss */
body h3 {
  font-size: 16px;
}
/* line 78, ../sass/style.scss */
body p {
  font-size: 14px;
}
/* line 79, ../sass/style.scss */
body span {
  font-size: 14px;
}
/* line 81, ../sass/style.scss */
body footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-image: linear-gradient(to top, #f8f8f8 0, #f0f0f0 100%);
}
/* line 86, ../sass/style.scss */
body footer.login_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 94, ../sass/style.scss */
body .companyTitleStyle {
  position: relative;
  padding-top: 5px;
  margin-bottom: 0;
  text-align: center;
}
/* line 99, ../sass/style.scss */
body .companyTitleStyle .font_h1 {
  font-size: 25px;
}
/* line 102, ../sass/style.scss */
body .companyTitleStyle .font_p {
  font-size: 14px;
}
/* line 105, ../sass/style.scss */
body .companyTitleStyle a {
  position: absolute;
  top: 8px;
  right: 8px;
}
/* line 111, ../sass/style.scss */
body .text_left {
  text-align: left !important;
}
/* line 115, ../sass/style.scss */
body .prompt_body {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(55, 55, 55, 0.5);
  width: 100%;
  height: 100%;
  z-index: 50;
}
/* line 123, ../sass/style.scss */
body .prompt_body .prompt_box {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 175px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.6);
  text-align: center;
  border-bottom: 10px solid #bce8f1;
}
/* line 138, ../sass/style.scss */
body .prompt_body .prompt_box h2 {
  margin-top: 30px;
}
/* line 141, ../sass/style.scss */
body .prompt_body .prompt_box h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 144, ../sass/style.scss */
body .prompt_body .prompt_box .btn_yes, body .prompt_body .prompt_box .btn_no {
  margin-top: 5px;
}
/* line 151, ../sass/style.scss */
body .prompt_body_b {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(55, 55, 55, 0.5);
  width: 100%;
  height: 100%;
  z-index: 50;
}
/* line 160, ../sass/style.scss */
body .prompt_body_b .prompt_box_b {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 175px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.6);
  text-align: center;
  border-bottom: 10px solid #bce8f1;
}
/* line 175, ../sass/style.scss */
body .prompt_body_b .prompt_box_b h2 {
  margin-top: 30px;
}
/* line 178, ../sass/style.scss */
body .prompt_body_b .prompt_box_b h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 181, ../sass/style.scss */
body .prompt_body_b .prompt_box_b .btn_yes, body .prompt_body_b .prompt_box_b .btn_no {
  margin-top: 5px;
}
/* line 187, ../sass/style.scss */
body .prompt_body_success {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(55, 55, 55, 0.5);
  width: 100%;
  height: 100%;
  z-index: 50;
}
/* line 195, ../sass/style.scss */
body .prompt_body_success .prompt_box_success {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 175px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(15, 15, 15, 0.6);
  text-align: center;
  border-bottom: 10px solid #bce8f1;
}
/* line 210, ../sass/style.scss */
body .prompt_body_success .prompt_box_success h2 {
  margin-top: 30px;
}
/* line 213, ../sass/style.scss */
body .prompt_body_success .prompt_box_success h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 216, ../sass/style.scss */
body .prompt_body_success .prompt_box_success .btn_yes, body .prompt_body_success .prompt_box_success .btn_no {
  margin-top: 5px;
}
/* line 222, ../sass/style.scss */
body.login_body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url(/images/iscar_bg.png);
}
/* line 228, ../sass/style.scss */
body .login_page {
  padding: 0px !important;
}
/* line 229, ../sass/style.scss */
body .login_page .btn_login {
  background-image: linear-gradient(rgba(242, 101, 49, 0.75), rgba(242, 101, 49, 0.7));
  color: #eeeeee;
}
/* line 235, ../sass/style.scss */
body .login_page .form_signin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -150px;
  box-shadow: 0px 0px 10px 2px rgba(15, 15, 15, 0.3) inset;
  max-width: 330px;
  padding: 30px !important;
  background-color: #333333;
  border-radius: 5px;
}
/* line 41, ../sass/style.scss */
body .login_page .form_signin h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 246, ../sass/style.scss */
body .login_page .form_signin h1 {
  text-align: center;
  color: #eeeeee;
}
/* line 250, ../sass/style.scss */
body .login_page .form_signin .form_signin_heading {
  margin-bottom: 10px;
}
/* line 253, ../sass/style.scss */
body .login_page .form_signin .error_box {
  margin-bottom: 10px;
  font-weight: normal;
  color: red;
}
/* line 258, ../sass/style.scss */
body .login_page .form_signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px !important;
  font-size: 16px;
}
/* line 266, ../sass/style.scss */
body .login_page .form_signin .form-control:focus {
  z-index: 2;
}
/* line 270, ../sass/style.scss */
body .login_page .form_signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 275, ../sass/style.scss */
body .login_page .form_signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 287, ../sass/style.scss */
body .panel-body .test_style {
  padding: 15px;
}
/* line 290, ../sass/style.scss */
body .panel-body .total_box {
  border: 2px solid #28a4c9;
  margin-bottom: 15px;
  border-radius: 3px;
}
/* line 296, ../sass/style.scss */
body .panel-body .alert_total span {
  font-size: 20px;
}
/* line 300, ../sass/style.scss */
body .panel-body .btn_group {
  padding: 15px !important;
}
/* line 302, ../sass/style.scss */
body .panel-body .btn_group .search_form .select_width {
  width: 75px;
}
/* line 305, ../sass/style.scss */
body .panel-body .btn_group .search_form .br_t_b_l {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 310, ../sass/style.scss */
body .panel-body .btn_group .jumbotron {
  margin-bottom: 0;
}
/* line 312, ../sass/style.scss */
body .panel-body .btn_group .jumbotron span {
  font-size: 20px;
  color: #F26531;
}
/* line 318, ../sass/style.scss */
body .panel-body .btn_group .isflag select {
  margin-left: 10px;
}
/* line 322, ../sass/style.scss */
body .panel-body .btn_group .input-group {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* line 327, ../sass/style.scss */
body .panel-body .btn_group .sb_label_setting {
  line-height: 34px;
}
/* line 329, ../sass/style.scss */
body .panel-body .btn_group .sb_label_setting span {
  color: red;
}
/* line 334, ../sass/style.scss */
body .panel-body .btn_group button, body .panel-body .btn_group a {
  margin-left: 10px;
}
/* line 337, ../sass/style.scss */
body .panel-body .btn_group form {
  margin-bottom: 0;
}
/* line 341, ../sass/style.scss */
body .panel-body .panel_subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dddddd;
}
/* line 345, ../sass/style.scss */
body .panel-body .panel_subtitle.appversion_style p {
  margin: 0;
}
/* line 349, ../sass/style.scss */
body .panel-body .panel_subtitle form {
  margin-bottom: 0;
}
/* line 352, ../sass/style.scss */
body .panel-body .panel_subtitle .sort_check {
  cursor: pointer;
}
/* line 355, ../sass/style.scss */
body .panel-body .panel_subtitle div {
  border-right: 2px solid #ffffff;
  text-align: center;
}
/* line 358, ../sass/style.scss */
body .panel-body .panel_subtitle div:last-child {
  border-right: none;
}
/* line 364, ../sass/style.scss */
body .panel-body .panel_form p {
  margin-bottom: 0;
  padding: 20px !important;
  text-align: center;
}
/* line 369, ../sass/style.scss */
body .panel-body .panel_form form {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
/* line 373, ../sass/style.scss */
body .panel-body .panel_form form:hover {
  background-color: #428bca;
}
/* line 376, ../sass/style.scss */
body .panel-body .panel_form form.select_case {
  background-color: #337ab7;
  color: #ffffff;
}
/* line 381, ../sass/style.scss */
body .panel-body .panel_form .m_clear, body .panel-body .panel_form .s_clear, body .panel-body .panel_form .b_clear {
  margin: 10px;
}
/* line 384, ../sass/style.scss */
body .panel-body .panel_form .property_code {
  margin-bottom: 20px;
}
/* line 386, ../sass/style.scss */
body .panel-body .panel_form .property_code .qas_box {
  height: 200px;
}
/* line 390, ../sass/style.scss */
body .panel-body .panel_form label.check_bg {
  background-color: #ddd;
  border-radius: 5px;
}
/* line 394, ../sass/style.scss */
body .panel-body .panel_form .qas_box {
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 400, ../sass/style.scss */
body .panel-body .panel_form .qas_box .title {
  background-color: #dddddd;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left: 2px solid #999999;
}
/* line 404, ../sass/style.scss */
body .panel-body .panel_form .qas_box .title:first-child {
  border-style: none;
}
/* line 408, ../sass/style.scss */
body .panel-body .panel_form .qas_box .label_style {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}
/* line 412, ../sass/style.scss */
body .panel-body .panel_form .qas_box .align_style {
  text-align: center;
}
/* line 415, ../sass/style.scss */
body .panel-body .panel_form .qas_box .property_result {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 417, ../sass/style.scss */
body .panel-body .panel_form .qas_box .property_result:hover {
  background-color: #eeeeee;
}
/* line 422, ../sass/style.scss */
body .panel-body .panel_form .textarea_box {
  margin-bottom: 20px;
}
/* line 424, ../sass/style.scss */
body .panel-body .panel_form .textarea_box textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 429, ../sass/style.scss */
body .panel-body .panel_form .topNews_form {
  border-bottom: 1px solid #ddd;
}
/* line 431, ../sass/style.scss */
body .panel-body .panel_form .topNews_form:last-child {
  border-style: none;
}
/* line 437, ../sass/style.scss */
body .panel-body .panel_detail {
  padding: 15px !important;
}
/* line 439, ../sass/style.scss */
body .panel-body .panel_detail .button_style {
  text-align: center;
}
/* line 442, ../sass/style.scss */
body .panel-body .panel_detail .button_style button:first-child {
  margin-top: 13px;
}
/* line 445, ../sass/style.scss */
body .panel-body .panel_detail .button_style button:last-child {
  margin-top: 6px;
}
/* line 451, ../sass/style.scss */
body .panel-body .panel_detail .sunwaiuser_selectstyle select {
  height: 100px;
}
/* line 456, ../sass/style.scss */
body .panel-body .panel_detail.hostlistdetail_setting ul {
  overflow: hidden;
  list-style-type: none;
}
/* line 460, ../sass/style.scss */
body .panel-body .panel_detail.hostlistdetail_setting ul li span {
  cursor: pointer;
}
/* line 465, ../sass/style.scss */
body .panel-body .panel_detail.hostlistdetail_setting .test_height {
  height: 0;
}
/* line 469, ../sass/style.scss */
body .panel-body .panel_detail .label_style {
  margin-top: 6px;
  margin-bottom: 6px;
}
/* line 476, ../sass/style.scss */
body .panel-body .panel_detail .task_interval .change_block.everyweek > div, body .panel-body .panel_detail .task_interval .change_block.specifymonth > div, body .panel-body .panel_detail .task_interval .change_block.everymonth > div {
  margin-bottom: 5px;
}
/* line 480, ../sass/style.scss */
body .panel-body .panel_detail .task_interval .change_block label {
  font-weight: 400;
}
/* line 483, ../sass/style.scss */
body .panel-body .panel_detail .task_interval .change_block .select_elems {
  width: 100%;
  background-color: #fff;
  border: 1px #ccc solid;
  position: absolute;
  z-index: 1;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}
/* line 493, ../sass/style.scss */
body .panel-body .panel_detail .task_interval .change_block .select_elems li {
  padding-left: 15px;
}
/* line 495, ../sass/style.scss */
body .panel-body .panel_detail .task_interval .change_block .select_elems li:hover {
  background-color: #ccc;
  color: #333;
}
/* line 499, ../sass/style.scss */
body .panel-body .panel_detail .task_interval .change_block .select_elems li label {
  width: 100%;
}
/* line 501, ../sass/style.scss */
body .panel-body .panel_detail .task_interval .change_block .select_elems li label span {
  margin-left: 5px;
}
/* line 509, ../sass/style.scss */
body .panel-body .panel_detail .pwd_label {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 514, ../sass/style.scss */
body .panel-body .panel_detail .ud_form .error_box {
  text-align: center;
  color: red;
}
/* line 519, ../sass/style.scss */
body .panel-body .panel_detail .error_style {
  margin-top: 7px;
  margin-bottom: 7px;
  color: red;
}
/* line 524, ../sass/style.scss */
body .panel-body .panel_detail .ua_box {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 530, ../sass/style.scss */
body .panel-body .panel_detail .ua_box label {
  display: block;
}
/* line 535, ../sass/style.scss */
body .panel-body .panel_detail .news_form p {
  color: red;
}
/* line 539, ../sass/style.scss */
body .panel-body .panel_detail .appAD_subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #aaa;
}
/* line 543, ../sass/style.scss */
body .panel-body .panel_detail .appAD_subtitle div {
  border-left: 2px solid #aaa;
}
/* line 545, ../sass/style.scss */
body .panel-body .panel_detail .appAD_subtitle div:first-child {
  border-style: none;
}
/* line 550, ../sass/style.scss */
body .panel-body .panel_detail .appAD_picDetail {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 552, ../sass/style.scss */
body .panel-body .panel_detail .appAD_picDetail input {
  text-align: center;
}
/* line 555, ../sass/style.scss */
body .panel-body .panel_detail .appAD_picDetail div {
  text-align: center;
}
/* line 558, ../sass/style.scss */
body .panel-body .panel_detail .appAD_picDetail #aadd_sort {
  border-width: 0;
  width: 30px;
}
/* line 562, ../sass/style.scss */
body .panel-body .panel_detail .appAD_picDetail #aadd_imagename {
  border-width: 0;
}
/* line 566, ../sass/style.scss */
body .panel-body .panel_detail .text_setting {
  text-align: center;
}
/* line 568, ../sass/style.scss */
body .panel-body .panel_detail .text_setting .control-label {
  text-align: center;
  padding-bottom: 5px;
}
/* line 573, ../sass/style.scss */
body .panel-body .panel_detail .btn_position_reset {
  position: relative;
}
/* line 575, ../sass/style.scss */
body .panel-body .panel_detail .btn_position_reset .btn_position {
  padding-top: 62px;
  text-align: center;
}
/* line 580, ../sass/style.scss */
body .panel-body .panel_detail .select_customer, body .panel-body .panel_detail .select_advert {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 586, ../sass/style.scss */
body .panel-body .panel_detail .select_customer label, body .panel-body .panel_detail .select_advert label {
  width: 100%;
  font-weight: 400;
}
/* line 592, ../sass/style.scss */
body .panel-body .panel_detail .select_advert .sad_style {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
/* line 600, ../sass/style.scss */
body .panel-body .panel_detail #advertSolution_d .cd_style {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
/* line 607, ../sass/style.scss */
body .panel-body .panel_detail ul li a {
  color: #333333;
}
/* line 611, ../sass/style.scss */
body .panel-body .panel_detail ul li.active a {
  font-weight: 700;
}
/* line 621, ../sass/style.scss */
body .panel-footer ul {
  margin: 10px 0;
}
/* line 627, ../sass/style.scss */
body .index_setting {
  position: fixed;
  width: 100vw;
  bottom: 0;
}
/* line 632, ../sass/style.scss */
body .test_setting ul {
  overflow: hidden;
  list-style-type: none;
}
/* line 636, ../sass/style.scss */
body .test_height {
  height: 0;
}
/* line 642, ../sass/style.scss */
body .p_l {
  padding-left: 15px;
}
/* line 645, ../sass/style.scss */
body .p_r {
  padding-right: 15px;
}
/* line 648, ../sass/style.scss */
body .p_t_b {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 651, ../sass/style.scss */
body .p_l_r {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 654, ../sass/style.scss */
body .p_l_dis {
  padding-left: 0px;
}
/* line 657, ../sass/style.scss */
body .p_r_dis {
  padding-right: 0px;
}
/* line 660, ../sass/style.scss */
body .p_l_r_dis {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 663, ../sass/style.scss */
body .p_all_dis {
  padding: 0px !important;
}
/* line 666, ../sass/style.scss */
body .dis_none {
  display: none;
}
/* line 669, ../sass/style.scss */
body .m_b_dis {
  margin-bottom: 0;
}
/* line 672, ../sass/style.scss */
body .block_box {
  height: 10px;
}
@media only screen and (max-width: 767px) {
  /* line 680, ../sass/style.scss */
  body .navbar-nav > li {
    float: left;
  }
  /* line 683, ../sass/style.scss */
  body .btn_m_t {
    margin-top: 10px;
  }
}
/* line 688, ../sass/style.scss */
body .pagination > .active > a, body .pagination > .active > span, body .pagination > .active > a:hover, body .pagination > .active > span:hover, body .pagination > .active > a:focus, body .pagination > .active > span:focus {
  background-color: #265a88;
  border-color: #265a88;
}
/* line 692, ../sass/style.scss */
body .pagination > li > a:hover, body .pagination > li > span:hover, body .pagination > li > a:focus, body .pagination > li > span:focus {
  color: #265a88;
}
/* line 695, ../sass/style.scss */
body .pagination > li > a, body .pagination > li > span {
  color: #265a88;
}
/* line 698, ../sass/style.scss */
body .navbar-brand {
  padding: 0;
}
/* line 701, ../sass/style.scss */
body .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
/* line 707, ../sass/style.scss */
body .btn_group .search_form .radio {
  margin-top: 0px;
  margin-bottom: 0px;
}
